<div class="container">
  <div *ngIf="false">
    <h1>Angular Components</h1>
    <app-post-form
      (onAdd)="updatePosts($event)"
    ></app-post-form>
    <hr />
    <input type="text" [(ngModel)]="search" placeholder="Search ...">
    <button class="btn" (click)="searchField = 'title'">Title</button>
    <button class="btn" (click)="searchField = 'text'">Text</button>
    <app-post
      *ngFor="let post of posts | filter:search:searchField"
      [post]="post"
      (onRemove)="removePost($event)"
    >
      <div #info>
        <small *ngIf="post.text.length > 10; else short">Post large</small>
        <ng-template #short>
          <small>Post short</small>
        </ng-template>
      </div>
    </app-post>

    <h1>Angular Directives</h1>
    <p appStyle="red" [dStyles]="{ border: '1px solid black', fontWeight: 'normal', borderRadius: '10px' }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, totam.</p>

    <h1>Angular Pipes</h1>
    <p>Wait for it ... {{ promise | async }}</p>
    <p>{{ date | async | date:'HH:mm:ss' }}</p>
  </div>

  <h1>Angular HttpClient</h1>
  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle">
    </div>
    <button class="btn" (click)="addTodo()">Добавить</button>
    <button class="btn" (click)="fetchTodos()">Загрузить</button>
  </div>
  <hr>
  <p *ngIf="error; else todosBlock" class="error">{{ error }}</p>
  <ng-template #todosBlock>
    <div *ngIf="!loading; else loadingBlock">
    <div *ngIf="todos.length else notTodo">
      <div class="card" *ngFor="let todo of todos">
        <p>
          <span [class.completed]="todo.completed">{{ todo.title | titlecase }}</span>
          <span>
          <button class="btn btn-danger" (click)="removeTodo(todo.id)">Удалить</button>
          <button class="btn" [disabled]="todo.completed" (click)="competedTodo(todo.id)">Завершить</button>
        </span>
        </p>
      </div>
    </div>
    <ng-template #notTodo>
      <p>Записей нет</p>
    </ng-template>
  </div>
    <ng-template #loadingBlock>
      <p>Loading ...</p>
    </ng-template>
  </ng-template>
</div>
